#grafico_Pizza {
    height: 400px;
    width: 900px;
    margin: auto;
}

#grafico_linha{
    height: 400px;
    width: 900px;
    margin: auto;
}
#grafico_colunas{
    height: 400px;
    width: 800px;
    margin: auto;
}
#grafico_Barras_Surpresa {
    height: 400px;
    width: 800px;
    margin: auto;
}
#graficoBarrasJson {
    height: 800px;
    width: 800px;
    margin: auto;
}